# When this module is the one being built, which modules should be built along with it by default?
# This feeds into automated testing of each module.
[shutit.tk.get_iplayer.get_iplayer]
build:yes
[container]
rm:false
