global
    maxconn 256
defaults
    mode tcp
frontend front_door
	bind *:HA_PROXY_PORT
	default_backend nodes
	timeout client 10m
backend nodes
	timeout connect 2s
	timeout server  10m
	server server1 127.0.0.1:HA_BACKEND_PORT_A maxconn 32 check
	server server2 127.0.0.1:HA_BACKEND_PORT_B maxconn 32 check