# This file should be changed only by the maintainer.
# When this module is the one being built, which modules should be built along with it by default?
# This feeds into automated testing of each module.
[shutit.tk.digital_ocean.digital_ocean]
shutit.core.module.build:yes
# Allowed images as a regexp, eg ["ubuntu:12.*"], or [".*"], or ["centos"].
# It's recommended this is locked down as far as possible.
shutit.core.module.allowed_images:["ubuntu:14.04"]

# Aspects of build process
[build]
base_image:ubuntu:14.04
[repository]
name:digital_ocean
user:
# Fill these out in server- and username-specific config (also in this directory)
password:YOUR_REGISTRY_PASSWORD_OR_BLANK
# Fill these out in server- and username-specific config (also in this directory)
email:YOUR_REGISTRY_EMAIL_OR_BLANK
tag:no
push:no
save:no
export:no
#server:REMOVE_ME_FOR_DOCKER_INDEX
name:digital_ocean
# tag suffix, defaults to "latest", eg registry/username/repository:latest.
# empty is also "latest"
tag_name:latest
suffix_date:no
suffix_format:%s
